* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: maroon;
}

/* .wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  align-items: center;

  gap: 20px;
} */

.movieCard {
  text-align: center;
  font-size: 1.8rem;
  display: inline-block;
  width: 20vw;
  height: 43vh;
  color: maroon;
  background-color: beige;
  border: 1px solid orange;
  box-shadow: 0 0 15px orange;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  align-self: center;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  margin: 0 auto 5vh auto;
  padding: 5vh 30px;
  flex-wrap: wrap;
}

button {
  background-color: orange;
  border: 1px solid beige;
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px beige;
}